@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  border:0;
  outline:0;
}

html {
  line-height: 1.25; 
  -webkit-text-size-adjust: 100%; 
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

b,
strong {
  font-weight: bolder;
}


small {
  font-size: 80%;
}


sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

main {
  display: block;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
}

button,
input {
  overflow: visible;
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
}

a{
  outline: 0;
  border: 0;
  text-decoration: none;
  color: inherit;
}

a.btn_uderline{
  text-decoration: underline;
}


img{
  vertical-align: middle;
}

.small{
  font-size: 0.6em;
  vertical-align: super;
}

iframe{
  display: block;
  border: 0;
  outline: 0;
}