@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300;400;500;600;700&display=swap');

html,
body {
    font-size: 4.589vw;
    line-height: 1.8;
}

body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    font-family: 'PT Serif', 'Roboto', serif;
    font-weight: 400;
    color: #212121;
    background: #F8EDE1;
}


img {
    display: block;
    width: 100%;
    height: auto;
    /* image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; */
}



h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h2{
    font-size: 1.44rem;
    line-height: 1.4;
}

h2 p.main_title{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

h2 p.sub_title{
    font-family: 'PT Serif', serif;
    font-size: 0.5em;
    font-weight: 400;
}

h3{
    font-size: 0.888rem;
    line-height: 1.35;
}

h3 p.main_title{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.3;
    font-weight: 500;
}

h3 p.sub_title{
    font-family: 'PT Serif', serif;
    line-height: 1.3;
    font-size: 0.625em;
}

h4{
    font-size: 1.44rem;
    color: #284870;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

span.bold{
    font-weight: 700;
}

ul.list_number{

}


ul.list_number ~ ul.list_number{
    margin-top: 0.77em;
}

ul.list_number li{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.1em;
    margin-bottom: 0.5em;
}


a.btn,.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

a.btn:hover,.btn:hover{
    filter: brightness(1.03);
}

a.btn_link{
    color: #BF5F06;
    text-decoration: underline;
    transition: color .3s ease;
}

a.btn_link:hover{
    color: #EA8324;
}

a.btn_media{
    font-size: 0.947rem;
    color: #A67B4D;
    background: #fff;
    transition: all .3s ease;
}

a.btn_media .icon{
    width: 1.846rem;
    margin-left: 0.076rem;
    transition: all .3s ease;
}

a.btn_media:hover,.page .section_media a.btn_circle:hover .icon{
    background: #FDD6AC;
}

a.btn_media:active,.page .section_media a.btn_circle:active .icon{
    background: #E4B98A;
}


a.btn_circle{
    padding: 0.23rem;
}

a.btn_circle .icon .icon{
    margin: 0;
}


.dec_cloud{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 0;
    z-index: 0;
}


.dec_cloud img{
    position: absolute;
    animation: uptodown-play 2s ease-in-out infinite alternate;
}

.uptodown-play{
    animation: uptodown-play 1.5s ease-in-out infinite alternate;
}

.dec_cloud img:nth-of-type(2n+1){
    animation: downtoup-play 2s ease-in-out infinite alternate;
}

.dec_cloud img:nth-of-type(3n){
    animation: uptodown-play 2.2s ease-in-out infinite alternate;
}

@keyframes uptodown-play {
  0% {
    transform: translate(0, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes downtoup-play {
  0% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.header_menu{
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all ease .3s;
}

.header_menu.is-active{
    background: rgba(255,255,255,0.95);
    padding: 1% 0;
    box-shadow: 0 0 14px rgba(0,0,0,0.2);
}

.header_menu .row{
    justify-content: space-between;
    align-items: center;
}

.header_menu .item_menu .menu_content{
    display: flex;
    display: -ms-flexbox;
}

.header_menu .item_menu .menu_content > .btn{
    position: relative;
}

.header_menu .item_menu .menu_content > .btn:hover > span{
    color: #555;
}

.header_menu .item_menu ul{
    display: block;
}

section{
    position: relative;
}

.section_kv{
    padding-bottom: 6.8%;
    text-align: center;
}

.section_kv .row{
    justify-content: center;
}

.section_kv .item_content{
    margin-top: 1rem;
}

.section_kv h2{
    color: #3A68A3;
    margin-bottom: 1rem;
}

.section_info .row{
    justify-content: center;
}

.section_info .item_title {
    padding: 0.46rem;
    border-width: 1px 0;
    border-color: #878787;
    border-style: solid;
    text-align: center;
}

.section_info .item_title .main_title{
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    color: #A67B4D;
    margin-left: -3.2rem;
}

.section_info .item_title .main_title .icon{
    width: 2.92rem;
    height: auto;
    margin-right: 0.85rem;
}

.section_info .item_info{
    padding: 1rem 0;
    text-align: center;
}


.section_uiux{
    padding-top: 1.56%;
    padding-bottom: 6.8%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.dec_island .btn_map{
    display: block;
    position: absolute;
    width: 1.923rem;
    height: 1.923rem;
    overflow: hidden;
    background: transparent;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.25));
}

.dec_island .btn_map .icon{
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    border-radius: 100%;
    background: #fff;
}

.dec_island .btn_map .icon_pic{
    width: 1.9rem;
    flex: none;
    flex-grow: 0;
}

.dec_island .btn_map .icon h3{
    display: none;
    line-height: 1.5;
    font-weight: 400;
    color: #A67B4D;
}

.dec_island .btn_map p{
    padding: 1em;
    padding-top: 0.2em;
    font-size: 0.7em;
    line-height: 1.3;
    display: none;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.dec_island .btn_map:hover{
    /*width: 10em;*/
    width: 68%;
    height: auto;
    border-radius: 0.769rem;
    background: #fff;
}

.dec_island .btn_map:hover .icon h3{
    /*width: initial;*/
    display: block;
}

.dec_island .btn_map:hover .icon_pic{
    box-shadow: none;
}

.dec_island .btn_map:hover p{
    height: initial;
    display: block;
}

.section_uiux .item_slide{
    margin: 1rem -3%;
}

.item_slide .slick-next,.item_slide .slick-prev{
    width: inherit;
    height: inherit;
    z-index: 9;
}

.item_slide .slick-next:before{
    transform: scale(-1);
}

.item_slide .slick-next:before,.item_slide .slick-prev:before{
    display: block;
    content: "";
    background-image: url("../images/btn_arrow.png");
    width: 2.2rem;
    height: 2.2rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.item_slide .slide_item{
    display: block;
    padding: 1.15rem 0.769rem;
    border-radius: 10px;
    background: #fff;
    transform: scale(0.92);
    transition: all ease .3s;
}

.item_slide .slide_item:hover{
    background: #FFFBF6;
}


.item_slide .slide_item .title{
    text-align: center;
    color: #284870;
}

.item_slide .slide_item:hover .title{
     color: #245BA1;
}

.item_slide .slick-center {
    transform: scale(1);
}


.item_slide .slide_item img{
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.item_slide .slick-track{
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
}

.section_marketing{
    padding-top: 1.56%;
    padding-bottom: 5.4%;
    background-position: top;
    background-size: 100% auto;
}

.section_marketing .item_case{
    display: block;
    padding: .5769rem;
    transition: filter .3s ease;
}

.section_marketing .item_case img{
    border-radius: 10px;
    overflow: hidden;
}

.section_marketing .item_case:hover{
    filter: brightness(1.1);
}


.section_marketing .item_case:hover h3{
    color: #245BA1;
}

.section_marketing  .row_case{
    margin: 1rem -0.5769rem;
}

.section_marketing .item_case img{
    margin-bottom: 0.8rem;
}

.section_marketing .item_case h3{
    margin-bottom: 0.8rem;
    color: #284870;
    transition: filter .3s ease;
}

.section_marketing .item_case:hover h3{
    color: #245BA1;
}

.section_marketing .item_case p{
    margin-bottom: 2.153rem;
}

.index .section_media{
    padding-bottom: 6.9%;
    background: #D7E2F1; 
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: repeat-y;
}


.index  .section_media .item_media{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.index  .section_media .item_media ~ .item_media{
    border-top: 1px solid #878787;
    padding-top: 2.15rem;
}

.index  .section_media a.btn_media{
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    margin: 1.07rem 0;
    padding: 0.23rem 0.769rem 0.23rem 1rem;
    border-radius: 100px;
    box-shadow: 0 0 14px rgba(0,0,0,0.25);
}


.index .section_media .item_media  .btns{
    display: flex;
    display: -ms-flexbox;
}

.index .section_media a.btn_circle{
    padding: 0.23rem;
    margin-left: 1rem;
}


/* page */

.container_banner{
    position: relative;
    z-index: 2;
}

.container_banner .item_banner{
    border-radius: 0.769rem;
    overflow: hidden;
}

.section_process{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:  bottom center;
}

.section_process h2.title{
    color: #284870;
}

.section_process .item_process{
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
}

.section_process .item_process .btn_proces{
}

.section_process .item_process img{
    width: 100%;
    height: auto;
}

.section_process .item_process .btn_process .icon{
    width: 60%;
    margin: auto;
    margin-bottom: 0.4rem;
    padding: 9.8%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 14px rgba(0,0,0,0.25);
}

.section_process .item_process .btn_process .main_title{
    margin-bottom: 0.4rem;
    color: #333333;
}

.section_process .item_process .btn_process .sub_title{
    color: #212121;
}

.anchor{
    position: absolute;
    margin-top: -13%;
}


.page .section_info{
    position: relative;
    padding-top: 4.1%;
    padding-bottom: 4.1%;
    background-color: #D7E2F1;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:  top center;
}

.page .section_info .row_title{
    justify-content: center;
}


.page .section_info .item_title{
    margin-bottom: 4.9%;
}

.page .section_info .item_contents .icon{
    width: 1.34rem;
}

.page .section_info .row_content .title,.page h3.title{
    margin-bottom: 0.77em;
    color: #284870;
}

.page .section_info  h2.title,.page .section_info .contnets_title{
    color: #284870;
    font-weight: 700;
}

.page .section_info h2.item_contents{
    margin-bottom: 0.769rem;
}


.page .detail_info,.page .description{
    font-size: 0.769rem;
    line-height: 1.3;
}

.section_overview{
    background-color: #D7E2F1;
}

.section_overview .row{
    justify-content: space-between;
}

.section_overview .item_contents p{
    line-height: 1.65;
}

.section_overview .item_contents ~ .item_contents{
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #878787;
}

.section_overview .item_detail .main_title{
    display: flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    align-items: center;
}

.section_overview .item_detail{
    margin-bottom: 2.15rem;
}

.section_overview .item_detail .title{
    margin-bottom: 0.3rem;
}

.section_overview .item_detail .icon{
    width: 1.84rem;
    margin-right: 0.46rem;
}

.section_overview .item_tips{
    position: relative;
    padding: 2.8% 3.5%;
    margin-top: 7%;
    border-radius: 0.769rem;
    border: solid #284870 1px;
    font-size: 0.72rem;
    color: #284870;
    line-height: 1.3;
}

.section_overview .item_tips .row_tips{
    flex-wrap: nowrap;
    justify-content: stretch;
}

.section_overview .item_tips .icon{
    position: absolute;
    top: 0;
    width: 1.23rem;
    transform: translateY(-50%);
}

.section_overview .item_tips p.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.section_overview .item_tips .line{
    background: #878787;
}


.section_users .item_persona p{
    font-family: 'Roboto', sans-serif;
}

.section_users .item_persona .contents_title{
    color: ##284870;
}

.section_users .item_persona .title{
    font-weight: 600;
}

.section_users .item_persona .pic{
    border-radius: 0.76rem;
    overflow: hidden;
}

.section_users .persona_content p{
    line-height: 1.4;
}


.section_users .row_content-user ~ .row_content-user{
    margin: 7%  0 0 0;
}



.item_quote{
    position: relative;
    padding: 0.42rem 1.23rem;
    margin-bottom: 0.77rem;
    text-align: right;
    line-height: 1.43;
}

.item_quote::before,.item_quote::after{
    position: absolute;
    content: "";
    display: block;
    width: 1.192rem;
    height: 2.46rem;
    border-color: #A67B4D;
    border-style: solid;
}

.item_quote::before{
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}

.item_quote::after{
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}

.item_quote p{
    font-family: 'Roboto', sans-serif;
    color: #A67B4D;
    font-weight: 500;
}

.item_quote h3{
    text-align: left;
}

.item_whitebg{
    background: #FFFBF6;
    border-radius: 0.769rem;
}

.item_whitebg ~ .item_whitebg{
    margin-top: 0.77em;
}



.item_whitebg .row{
    align-items: stretch;
}

.item_whitebg h3.title{
    font-family: 'Roboto', sans-serif;
    color: #284870;
}


.item_whitebg ul.list li::before{
    content: "";
    display: block;
    width: 0.46rem;
    height: 0.46rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    flex: none;
    border-radius: 100%;
}

.item_whitebg ul.list li{
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    line-height: 1.5;
}

.item_whitebg .list_green li::before{
    background: #52A47E;
}

.item_whitebg .list_brown li::before{
    background: #9C7015;
}

.item_block{
    margin-bottom: 7%;
}

.item_infomation p{
    margin-bottom: 0.77rem;
}


.page .section_media{
    background: #D7E2F1;
}

.page .section_media .container{
    border-color: #878787;
    border-style: solid;
    border-width: 1px 0 1px 0;
}

.page .section_media  h2 p{
    color: #878787;
    font-family: 'Roboto', sans-serif;
}

.page .section_media  h2 p:nth-of-type(1){
    font-weight: 300;
}

.page .section_media  h2 p:nth-of-type(2){
    font-weight: 500;
}

.page  .section_media .item_btn{
    display: flex;
    display: -ms-flexbox;
}

.page  .section_media a.btn_circle{
    text-align: center;
    background: transparent;
}

.page  .section_media a.btn_circle .icon{
    display: inline-block;
    padding: 0.23rem;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.25);
}

.page .section_info .item_video{
    width: 100%;
}

.page .section_info .video{
    padding: 5.714% 7.5%;
    background: #333;
}

.page .section_info .video .inside{
    width: 100%;
    position: relative;
}

.page .section_info .video .inside::before{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.page .section_info .video iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width:767px) {
    html,
    body {
        overflow-x: hidden;
    }
    .container {
        width: 91.78%;
    }
    .pc_block{
        display: none;
    }
    .index .dec_cloud {
        padding-bottom: 235.62%;
    }
    .index .dec_cloud img:nth-of-type(1){
        width: 91.78%;
        top: -10.3%;
        left: -35.144%;
    }

    .index .dec_cloud img:nth-of-type(2){
        width: 36.23%;
        top: -1.474%;
        right: -5.676%;
    }

    .page .dec_cloud {
        padding-bottom: 23.79%;
    }

    .page .dec_cloud img:nth-of-type(1){
        width: 91.7%;
        top: -102%;
        left: -38.28%;
    }

    .page .dec_cloud img:nth-of-type(2){
        width: 36.23%;
        top: -1.474%;
        right: -5.676%;
    }

    .index .dec_cloud img:nth-of-type(3){ 
        width: 112.9%;
        top: 30.65%;
        left: -29.34%;
    }

    .index .dec_cloud img:nth-of-type(4){
        width: 54.10%;
        top: 13.37%;
        right: -10.628%;
    }

    .index .dec_cloud img:nth-of-type(5){
        width: 64.49%;
        top: 63.35%;
        left: -13.64%;
    }

    .index .dec_cloud img:nth-of-type(6){
        width: 35.5%;
        top: 50.89%;
        right: -1.6%;
    }

    .header_menu{
        padding: 3.846% 0 9.74% 0;
        font-size: 1.33rem;
        line-height: 2;
    }

    .header_menu.is-active{
        display: block;
    }
    .header_menu .item_logo{
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: space-between;
        transform: translateY(5%);
    }

    .header_menu .item_logo .logo{
        width: 36.66%;
    }

    .header_menu .item_logo .btn_buger{
        display: block;
        width: 2.4rem;
    }

    .header_menu .item_menu{
    }

    .header_menu .item_menu.is-active{
        display: block;
    }

    /*.header_menu .container{
        padding-top: 0.8333rem;
        padding-bottom: 1.777rem;
    }*/

    .header_menu .item_menu .menu_content{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2rem 1.38rem 1.5rem 1.38rem;
        flex-direction: column;
        color: #fff;
        background: rgba(33,33,33,0.92);
        transform: translateX(200%);
        transition: transform ease .3s;
    }

    .header_menu .item_menu.is-active .menu_content{
        transform: translateX(0);
    }

    .header_menu .item_menu ul{
        margin-left: 2em;
        margin-bottom: 1.5rem;
    }


    .header_menu .item_menu .menu_content a.btn_close{
        display: block;
        position: absolute;
        width: 2.2rem;
        top: 1.1rem;
        right: 1.38rem;
    }

    .section_kv{
        padding-top: 23.33%;
        padding-bottom: 17%;
        background-position: bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url("../images/bg_index-oceanTop_m.svg");
    }

    .slick-next{
        right: 0;
        transform: translate(0,-50%);
    }

    .slick-prev{
        left: 0;
        transform: translate(0,-50%);
    }

    .item_slide::before,.item_slide::after{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20%;
        z-index: 2;
    }
     .item_slide::before{
        left: 0;
        background-image: linear-gradient(to left, rgba(221,230,241,0) 0%, rgba(221,230,241,1) 100%);
     }

     .item_slide::after{
        right: 0;
        background-image: linear-gradient(to right, rgba(221,230,241,0) 0%, rgba(221,230,241,1) 100%);
     }

    .item_slide .slide_item{
        margin: 0 0.2rem;
    }

    .dec_bg{
        display: flex;
        display: -ms-flexbox;
    }

    .dec_bg .dec_island .btn_map{
        display: none;
    }

    .dec_bg .dec_island{
        width: 50%;
    }

    .section_uiux{
        background-position: top;
        background-color: #D7E2F1;
        background-image: url("../images/bg_index-oceanBottom_m.svg");
    }

    .section_uiux .dec_bg{
        justify-content: flex-start;
        align-items: center;
    }

    .section_uiux .dec_bg .dec_island:nth-of-type(2){
        width: 40%;
        margin-left: -8%;
    }

    .section_marketing{
        background-image: url("../images/bg_wave_01_m.svg");
        background-color: #D7E2F1;
        background-repeat: repeat-y;
    }

    .section_marketing .dec_bg{
        justify-content: flex-end;
        align-items: flex-start;
    }
    .section_marketing .dec_bg .dec_island:nth-of-type(1){
        width: 42%;
        margin-top: -3%;
        margin-right: 0%;
    }

    .section_marketing .dec_bg .dec_island:nth-of-type(2){
        margin-right: -12%;
    }
    .section_marketing .item_case p{
        display: none;
    }
    .index .section_media{
        background-image: url("../images/bg_wave_02_m.svg");
    }

    /* page */

    .container_banner{
        padding-top: 23.7922%;
    }

    .section_process{
        background-image: url('../images/bg_page-oceanTop_m.svg');
    }

    .container_process{
        padding: 10% 0 17.6% 0;
    }

    .section_process .item_process{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section_process h2.title{
        padding-bottom: 7%;
    }

    .section_process .item_process .btn_process{
        width: 25.48%;
    }
    .section_process .item_process .arrow{
        width: 3.36%;
        margin: 5.857% 2.8%;
    }

    .section_process .item_process .sub_title{
        display: none;
    }

    .page .detail_info,.page .description{
        font-size: 0.72rem;
        line-height: 1.3;
    }


    .page .section_info .row_content{
        padding: 7% 0 13% 0;
    }

    .section_info .item_title .sub_title{
        display: none;
    }

    .section_overview {
        background-image: url('../images/bg_page-oceanBottom_m.svg');
    }

    .section_overview .item_tips .row_tips{
        flex-direction: column;
    }

    .section_overview .item_tips .line{
        width: 100%;
        height: 1px;
        margin: 1.45em auto;
    }


    .section_users{
        background-image: url('../images/bg_users_m.svg');
    }


    .section_users .item_persona .pic{
        width: 92%;
    }

    .section_users .persona_content p{
        font-size: 0.8rem;
        margin-top: 0.5em;
    }


    .item_whitebg .col-item ~ .col-item{
        border-top: solid #878787 1px;
    }

    .item_whitebg{
        padding: 0 1.5rem;
    }


    .item_whitebg .item{
        padding: 1.5rem 0;
    }

    .item_whitebg h3.title{
        margin-bottom: 0.83em;
    }

    .item_whitebg ul.list li ~ li{
        margin-top: 0.83em;
    }

    .section_starting{
        background-image: url('../images/bg_start_m.svg');
    }

    .section_refining{
        background-image: url('../images/bg_refining_m.svg');
    }

    .section_forwaard{
        background-image: url('../images/bg_forward_m.svg');
    }

    .page .section_media{
        padding-bottom: 7%;
    }

    .page  .section_media .row{
        justify-content: center;
    }

    .page .section_media .container{
        padding: 5% 0;
    }
    .page  .section_media .item_btn{
        width: 100%;
        margin-top: 3%;
        justify-content: space-between;
    }


}


@media screen and (min-width:768px) {
    html,
    body {
        font-size: 1.8vw;
    }
    h2{
        font-size: 1.538rem;
    }

    h2 p.sub_title{
        font-size: 0.5em;
    }

    h3{
        font-size: 1.23rem;
    }

    h4{
        font-size: 2rem;
    }

    a.btn_media{
        font-size: 0.769rem;
    }

    .m_block{
        display: none;
    }

    .container {
        width: 72%;
    }

    .index .dec_cloud{
        padding-bottom: 61.45%; /*1180*/
    }

    .page .dec_cloud{
        padding-bottom: 12.239%; /*1180*/
    }

    .index .dec_cloud img:nth-of-type(1){
        width: 54.68%;
        top: -19.745%;
        left: -19.2%;
    }

    .index .dec_cloud img:nth-of-type(2){
        width: 18.9%;
        top: 0;
        right: 12.6565%;
    }

    .index .dec_cloud img:nth-of-type(3){ 
        width: 63.33%;
        top: 26.86%;
        left: -34.79%;
    }

    .index .dec_cloud img:nth-of-type(4){
        width: 35.15%;
        top: 29.66%;
        right: -6.3%;
    }

    .index .dec_cloud img:nth-of-type(5){
        width: 25%;
        bottom: 10.423%;
        left: 8.697%;
    }

    .index .dec_cloud img:nth-of-type(6){
        width: 10.2%;
        bottom: 13.89%;
        right: 11.61%;
    }

    .page .dec_cloud img:nth-of-type(1){
        width: 54.68%;
        top: -106.38%;
        left: -10.88%;
    }

    .page .dec_cloud img:nth-of-type(2){
        width: 23.07%;
        top: 3.404%;
        right: -6.51%;
    }

    .header_menu {
        padding: 4.1% 0; 
        font-size: 0.923rem;
    }

   /* .header_menu .container{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }*/

    .header_menu .item_logo{
        width: 73.75%;
        transform: translateY(7%);
        transition: width ease .3s;
    }

    .header_menu.is-active .item_logo{
        width: 60%;
    }

    .header_menu .btn_buger{
        display: none;
    }

    .header_menu .item_menu .menu_content{
        justify-content: flex-end;
    }

    .header_menu .item_menu{
        display: block;
    }

    .header_menu .menu_content .btn_menuMore{
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .header_menu .menu_content .btn_menuMore ul{
        font-size: 0.8333em;
        position: absolute;
        top: 1.5em;
        border-radius: 0.769rem;
        overflow: hidden;
        width: 13em;
        opacity: 0;
        pointer-events: none;
        transition: all ease .3s;
        box-shadow: 0 2px 12px  rgba(51,51,51,0.25);
    }

    .header_menu .menu_content .btn_menuMore:hover ul{
        pointer-events: initial;
        top: 2.5em;
        opacity: 1;
    }

    .header_menu .menu_content .btn_menuMore::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 140%;
        opacity: 0;
    }

    .header_menu .menu_content .btn_menuMore:hover::after{
    }

    .header_menu .item_menu ul li a{
        display: block;
        padding: 0.4rem 0.6rem;
        background: #fff;
        list-style: none;
        transition: all ease .3s;
    }

    .header_menu .item_menu ul li ~ li a{
        border-top: 1px #E3E3E3 solid;
    }

    .header_menu .item_menu ul li a:hover{
        background: #6E97CB;
        color: #fff;
    }

    .header_menu .item_menu ul li a:active{
        background: #4C7FBF;
        color: #fff;
    }

    .header_menu .item_menu .menu_content > .btn ~ .btn{
        margin-left:1.5rem;
    }

    .dec_island{
        position: absolute;
        width: 18.9%;
        top: 0;
    }

    .section_kv{
        padding-top: 12.13%;
    }

    .section_uiux .dec_island:nth-of-type(1){
        left: 0;
    }

    .section_uiux .dec_island:nth-of-type(1) .btn_map{
        top: 41.11%;
        left: 23.14%;
    }

    .section_uiux .dec_island:nth-of-type(2){
        right: 0;
    }

    .section_uiux .dec_island:nth-of-type(2) .btn_map{
        top: 72.222%;
        left: 23.14%;
    }


    .section_uiux{
        margin-bottom: -1px;
        background-position: bottom;
        background-image: url("../images/bg_index-oceanTop.svg");
    }

    .slick-next{
        right: 0;
        transform: translate(100%,-50%);
    }

    .slick-prev{
        left: 0;
        transform: translate(-100%,-50%);
    }
    .item_slide .slide_item{
        margin: 0 0.5rem;
    }

    .section_marketing{
        background-image: url("../images/bg_wave_01.svg"), url("../images/bg_index-oceanBottom.svg");
        background-color: #D7E2F1;
        background-repeat: repeat-y,no-repeat;
    }

    .section_marketing .dec_island:nth-of-type(1){
        left: 0;
    }

    .section_marketing .dec_island:nth-of-type(1) .btn_map{
        top: 16.666%;
        left: 28%;
    }

    .section_marketing .dec_island:nth-of-type(2){
        top: 50%;
        right: 0;
        margin: auto;
    }
    .section_marketing .dec_island:nth-of-type(2) .btn_map{
        top: 19.166%;
        left: 18.45%;
    }
    .index .section_media{
        background-image: url("../images/bg_wave_02.svg");
    }

    .section_process{
        background-image: url('../images/bg_page-oceanTop.svg');
    }

    .container_banner{
        position: relative;
        padding-top: 12.1239%;
        z-index: 2;
    }

    .container_process{
        padding: 8.333% 0 4.1% 0;
    }

    .section_process h2.title{
        padding-bottom: 2.5%;
        font-size: 2rem;
    }

    .section_process .item_process .btn_process{
        width: 16.1786%;
    }
    .section_process .item_process .arrow{
        width: 2.196%;
        margin: 0 1.7569% ;
    }

    .section_overview {
        background-image: url('../images/bg_page-oceanBottom.svg');
    }


    .section_overview .item_tips .row_tips{
        flex-direction: row;
    }

    .section_overview .item_tips .line{
        width: 1px;
        height: 100%;
        min-height: 6.346rem;
        margin: auto 1.538rem;
    }
    .page .section_info{
        background-position: top center , center 64%;
    }

    .page .content_two{
        align-items: center;
        justify-content: space-between;
    }

    .page .section_info .pic{
        border-radius: 0.769rem;
        overflow: hidden;
    }

    .section_users{
        background-image: url('../images/bg_users_pc.svg'),url('../images/bg_users_island.svg');
    }


    .section_users .item_persona .pic{
        width: 60%;
    }
    
    .section_users .item_persona .pic,.section_users .persona_content p{
        margin-top: 0.8rem;
    }

    .item_whitebg .col-item ~ .col-item{
        border-left: solid #878787 1px;
    }
    .item_whitebg{
        padding: 1.5rem 0;
    }

    .item_whitebg .item{
        padding: 0 1.5rem;
    }


    .item_whitebg h3.title{
        margin-bottom: 1.2rem;
    }

    .item_whitebg ul.list li ~ li{
        margin-top: 1.2rem;
    }

    .section_starting{
        background-image: url('../images/bg_start_pc.svg'),url('../images/bg_start_island.svg');
    }

    .section_refining{
        background-image: url('../images/bg_refining_pc.svg');
    }

    .section_forwaard{
        background-image: url('../images/bg_forward_pc.svg');
    }

    .page .section_media{
        padding-bottom: 6.25%;
    }

    .page .section_media .container{
        padding: 2% 0;
    }

    .page  .section_media .item_btn{
        justify-content: flex-end;
    }

    .page  .section_media a.btn_circle{
        margin-left: 1rem;
    }
    


}

@media screen and (min-width:992px) {
    html,
    body {
        font-size: 1.4vw;
    }
}

@media screen and (min-width:1366px) {
    html,
    body {
        font-size: 1.32vw;
    }
}

@media screen and (min-width:1600px) {
    html,
    body {
        font-size: 1.3vw;
    }
    .container {
        width: 65%;
    }
}
